REGISTRY=registry.gitlab.com/ton-groupe/propriateraydb-app
FRONTEND_IMAGE_DIGEST=sha256:replace-me
BACKEND_IMAGE_DIGEST=sha256:replace-me
OC_NAMESPACE=propriateraydb
OC_SERVER=https://api.openshift.example.com:6443
OC_TOKEN=replace-me
